<%- include("partial/head") %>

		<%- include("partial/navbar") %>

<style>
	i{
		font-size: 25px;
	}
</style>


	<p> Not found ... <i><b> /<%= subreddit %> </b></i> </p>
		


<%- include("partial/footer") %>