body{
	height: 100vh;
	background: center/cover no-repeat url('/home/ironic/Desktop/FrontendBasic/img/rock.jpg');
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	width: 60%;
	height: 250px;
	background-color: white;
	border-radius: 30px;
	box-shadow: 0 0 3px;
}

#timer{
	font-size: 72px;
	text-align: center;
	margin: 0px auto;
	padding: 30px;

}

.buttons{
	text-align: center;
}

button{
	margin: 0 10px;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 1rem;
}

#startStopBtn{
	background-color: green;
}

#resetBtn{
	background-color: red;
}

/* #play{
	content: "▶️";
} */

#reset::after{
	content: "🔄";
}

