section	{
	width: 70%;
	height: 530px;
	/* background-color: purple; */
	margin: 0 auto;
	/* background-image: url('img/Gof.jpg');  */
	background-size: cover;
	/* background-position: bottom; */
	/* background-position: top; */
	background-position: center;
	/* background-size: contain; */

	background: center/contain  no-repeat url('img/Gof.jpg');


}

h1{
	font-size: 30px;
	color: white;

}




