div{

	width: 200px;
	height: 50px;
	background-color: teal;
	border: 1px solid black;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}

.div1{

	margin-top: 180px;

	transform: rotate(40deg);


}
