
div{
  display: inline-block;
width:100px;
height:100px;
background-color:blue;
}

.middle{
background: rebeccapurple;

}


section .middle{

position: relative;
top: 20px;
left: 20px;
}

body{
  height: 200vh;
}
